.mainbar {
  width: 70%;
  padding: 20px;
  color: var(--text);
  margin: 20px;
}
.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin-bottom: 75px;

  flex-wrap: wrap;

  padding: 0 20px;
}
.mainbar h1 {
  color: var(--primary);
  text-align: left;
}
.containers img {
  height: 200px;
  width: 250px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  margin: 10px;
}
.containers img:hover {
  transform: scale(1.1);
}
.containers .cards h2 {
  color: var(--primary);
}
